* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1600px;
}

.side-toggle {
    display: none;
}

.nav-toggle {
    display: none;
}

@media (max-width: 1355px) {

    .side-toggle {
        display: flex;
        align-items: end;
        gap: 10px;
        cursor: pointer;
        padding: 10px;
        color: #fff;
        font-size: 20px;
        position: fixed;
        top: 10px;
        z-index: 1000;
        left: 10px;
    }

    .side-toggle div img {
        width: 150px;
        height: auto;
    }

    .sidebar {
        display: none !important;
        position: fixed !important;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
        z-index: 1000;
        transition: all 0.3s ease;
    }

    .sidebar a.logo-link img {
        display: none;
    }

    .sidebar.active {
        display: flex !important;
    }

    /* Courses-page  responsiveess starts */

    .nav-landing-outter {
        display: none;
        position: fixed;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
        z-index: 1000;
        transition: all 0.3s ease;
    }

    .nav-landing-outter.active {
        display: flex;
    }

    /* courses-page responsiveness end */

     /* email responsiveness end */

    .email-header {
  flex-wrap: wrap;
  gap: 10px;
}

.email-header .actions-wrap {
    display: flex;
    margin-left: auto;flex-wrap: wrap;
    gap: 10px;
}

.primary-section .d-flex.align-items-center{
    flex-wrap: wrap;
}

      .overflow-horizontal {
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        width: 1030px;
    }

    .overflow-horizontal>* {
        width: 100%;
    }

 /* email  responsiveness end */

}

@media (max-width: 1271px) {

    .nav-toggle {
        display: block;
        cursor: pointer;
        margin-left: auto;
        padding: 10px;
        color: #fff;
        font-size: 1.8rem;
    }


    .nav-top {
        display: none;
        position: fixed;
        top: 68.8px;
        right: 0;
        width: 250px !important;
        height: calc(100vh - 68.8px) !important;
        background-color: #31164d;
        flex-direction: column;
        padding: 1rem;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
        z-index: 1000;
        transition: all 0.3s ease;
        justify-content: start !important;
        align-items: start !important;
    }

    .nav-top.active {
        display: flex !important;
    }

    .nav-top .nav-link.active::after {
    bottom: 0px;
}


    .nav-top .nav-link {
        padding: 10px 0;
        font-size: 1.1rem;
    }

    .content-head {
        flex-wrap: wrap;
    }

    .nav-link.nav-login {
        width: 100%;
        justify-content: center;
    }

    /* channels reponsiveness start */

           .big_banner .channel-header{
                flex-direction: column;
                gap: 10px;
                 width: 100%;
                 padding: 10px 10px;
           }

           .channel-action {
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  justify-content: center;
}

.channel-action button{
    margin: 0px;
}

.row .col-4{
    flex: 0 0 100% !important;
   max-width: 100% !important;
   margin-bottom: 10px;
}

.channel-inner {
    width: 100%;
}

.media-desc .box-actions {
    flex-direction: column;
    gap: 10px;

}

.media-desc .title {
    font-size: 12px;
}

.featured_content {
  width: 100%;
}

    /* channels reponsiveness ends */

/* forgot pwd responsiiveness start */

.sign-up-inner{
  justify-content: center;
  align-items: center;
}

.sign-up-inner .left-section {
    display: none;
}

.sign-up-inner .right-section {
    margin: auto;
 border-radius: 1rem;
 padding: 3rem 1rem;
 width: 100%;
 max-width: 500px;
}

/* forgot pwd responsiiveness end */

/* record screen responsiveness starts */

.container-fluid .flex--content-wrapper.mb-4{
  flex-wrap: wrap;
  gap: 30px;
}

.step-item-main .step-content{
     white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.navigation-box{
    margin-right: 0px;
}

/* record screen responsiveness ends */

/* video editor responsiveness starts */

 .row .col-8{
    margin-bottom: 50px;
        -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

/* video editor responsiveness ends */

/* video item responsiveness starts */

.vid-seetings-outter{
    flex-direction: column;
}
/* video item responsiveness ends */
}

@media (max-width: 1100px) {

    .video-display-page {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .video-display-page .video_content {
        width: 100%;
        margin-right: 0;
    }

    .video-display-page .playlist_wrap {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 1060px) {

    .content-body .container-fluid .tab-content {
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        width: 900px;
    }

    .content-body .container-fluid .tab-content>* {
        width: 100%;
    }

       .content-body .container-fluid .tab-content.teams {
        overflow-x: auto;
        white-space: normal;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }

    .content-body .container-fluid .tab-content.teams>* {
        width: 100%;
    }

    .tab-pane#pills-integration .vc-import-wrap .illus--image-wrap {
        display: none;
    }

    /* player settings responsveness starts */

.player-settings-header{
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

.player-help-wrap p{
    text-align: center;
}

.navigation-player-settings{
    max-width: 350px;
    width: 100%;
}

.player-settings-header .title{
    text-align: center;
}

.player-settings-header .check-flex{
    margin-left: 0px;
}

    .flex--content-wrapper{
        flex-direction: column;
        gap: 50px; 
        align-items: center;
    }

     .flex--content-wrapper > *{
        width: 100%;
        display: flex;
        justify-content:center;
    }

    .navigation-box.navigation-player-settings{
        margin-right: 0px !important;
    }

    /* player settings responsveness ends */

    /* all-video responsiveness starts */

    .content-semi-head.mb-5 {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .row .col-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-bottom: 10px;
    }

    /* all-video responsiveness ends */

    /* course video page content start */

    .course-video-page-content {
    flex-direction: column;
    height: 100%;
}

.course-video-page-content .video_content {
    width: 100%;
    margin-right: 0px;
}

.course-video-page-content .playlist_wrap {
    width: 100%;
}

  /* course video page content end */

  /* email responsiveness start */ 

      .overflow-horizontal {
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        width: 900px;
    }

/* email responsiveness end */ 

/* integration responsiveness start */
.int-soc-box{
    width: 100%;
     max-width: 100%;
 min-width: 100%;
 height: 100% !important;
}

.int-soc-box .responder-inner{
flex-wrap: wrap ;
}

.int-soc-box .responder-inner .responder-content{
 white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* integration responsiveness ends */

/* experimentation responsiveness  start */

.experimentation-item {
    padding: 10px;;
}

.experimentation-item .row{
    padding: 10px !important;
}

.experiment-heading {
   flex-direction: column;
   gap: 10px;
    justify-content: center;
    align-items: center;
}

.experiment-heading .left-section{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.experiment-video-item .experiment-video-head{
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-right: 0px;
}

.experiment-video-head .overall-stat{
    margin-left: 0px;
}

/* experimentation responsiveness  end*/

/* team item responsiveness  start */

.flex--content-wrapper.team-item{
    flex-direction: column;
}

.flex--content-wrapper.team-item .team-main-section{
flex-basis: 100%;
flex-wrap: wrap;
}

.flex--content-wrapper.team-item .other-team-outter {
    flex-basis: 100%;
    margin-left: 0px;
}

.flex--content-wrapper.team-item .other-teams-wrap {
    width: 100%;
}

/* video editor responsiveness starts */

 .content-semi-head{
   flex-wrap: wrap;
   gap: 10px;
}

/* video editor responsiveness ends */


/* team item responsiveness ends */

}

@media (max-width: 900px) {
    .content-body .container-fluid .tab-content {
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        width: 500px;
    }

         .content-body .container-fluid .tab-content.teams {
        overflow-x: auto;
        white-space: normal;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }

    /* channels-settings starts */

    .channels_item_box {
        background: transparent;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 300px;
        height: 100%;
    }

    .channel_table_outter_wrap {
        background: transparent;
    }

    .channels_items_box_inner {
        width: 100%;
    }

    .channels_items_box_inner .form-group.d-flex.align-items-center {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 10px !important;
    }

    .channels_items_box_inner .form-group.d-flex.align-items-center label {
        width: fit-content;
        min-width: 100%;
    }

    .channels_items_box_inner .form-group.d-flex.align-items-center.pl-5 .form-control {
        margin-left: 0;
    }

    .logo_input_box {
        flex-direction: column;
        gap: 20px;
    }

    /* channels-settings ends */

}

@media (max-width: 740px) {

    /* dashboard responsiveness starts */
    #particles-js {
        height: 100%;
        min-height: 550px;
    }

    .welcome-inner {
        flex-direction: column;
        gap: 20px;
        padding: 4rem 20px 1rem 20px;
        align-items: center;
        align-items: center;
    }

    .welcome-area {
        max-width: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .welcome-wrap .greeting {
        text-align: center;
    }

    .welcome-wrap .desc {
        text-align: center;
    }

    .welcome-wrap .quick-nav {
        margin-left: 0;
    }

    .app-stat {
        flex-direction: column;
        gap: 20px;
    }

    .app-stat .stat-item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .app-stat .stat-item:not(:last-child) {
        margin-right: 0;
    }

    .stat-item .icon {
        width: 2.5rem;
        margin-right: 0;
    }

    .stat-item .stat-content {
        flex-direction: row-reverse;
        gap: 5px;
    }

    .stat-content .val {
        align-self: none;
        margin-bottom: 0;
    }

    .snippet-head {
        flex-wrap: wrap;
        gap: 10px;
    }

    .row .col-3 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-bottom: 50px;

    }

    /* dashboard responsiveness ends */

    /* agency-reseller responsiveness starts */

    .content-body .container-fluid .d-flex.justify-content-between.my-5 {
        flex-wrap: wrap;
        gap: 10px;
    }

    .content-body .container-fluid .d-flex.justify-content-between.my-5 .d-flex {
        flex-wrap: wrap;
        gap: 10px;
    }

    .vc-import-wrap.vc-agency-null-wrap {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .vc-import-wrap .illus--image-wrap {
        margin-left: 0;
        height: auto;
        width: 100%;
    }

    .vc-import-wrap .vc-import-form--wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .vc-import-wrap .vc-import-form--wrap title {
        text-align: center;
    }

    .vc-import-wrap .vc-import-form--wrap p {
        text-align: center;
    }

    .agency-create-steps {
        text-align: center;
    }

    .agency-create-steps .step-litle {
        text-align: center;
    }

    .agency-create-steps ul {
        text-align: center;
    }

    .content-body .container-fluid .agency-stats {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .content-body .container-fluid .agency-stats .agency-stat-box {
        width: 100%;
        height: auto;
        flex-direction: row-reverse;
        gap: 10px;
        padding: 20px 10px;
    }

    .content-semi-head.mb-5 .d-flex {
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
    }

    .invited-team-wrap div.d-flex.justify-content-between {
        flex-wrap: wrap;
        gap: 10px;
    }

    .custom-search-form.mr-3 {
        margin-right: 0 !important;
    }

    .custom-search-form input {
        width: 100%;
        max-width: 300px;
        margin: 0;
    }

    .table-teams {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        max-width: 300px;
        width: 100%;
    }

    .table-teams thead,
    .table-teams tbody,
    .table-teams tr {
        display: table;
        width: max-content;
        table-layout: auto;
    }

    .table-teams th,
    .table-teams td {
        white-space: nowrap;
    }

    /* agency-reseller responsiveness ends */

    .video-wrap-inner {
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* video output responsiveness starts */

    .countdown-wrap .countdown-header-text {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .countdown-wrap .countdown-desc {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .countdown-wrap #target-date {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .countdown-wrap .additional-text {
        font-size: 14px;
    }

    #countdown {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .countdown-box-inner {
        margin: 5px;
        padding: 2px 5px;
        width: fit-content;
        border-radius: 5px;
    }

    .seperator-wrap {
        margin: 0;
    }

    .seperator-wrap div {
        width: 5px;
        height: 5px;
    }

    .countdown-box-inner div {
        font-size: 16px;
        margin-bottom: -0.9rem;
    }

    .countdown-box-inner label {
        font-size: 6px;
        color: white;
        margin-top: 10px;
    }

    .btn-unmute-vid {
        padding: 5px 7px;
    }

    .btn-unmute-vid img {
        width: 50px;
    }

    .view_et_description_wrap {
        flex-direction: column;
    }

    .view_et_description_wrap .video_output_description {
        padding-right: 0;
        font-size: 12px;
        margin-top: 5px;
    }

    .video_output_actions {
        flex-direction: column;
        align-items: start;
    }

    .video_output_reaction {
        margin-right: 0;
        margin-left: 0;
        margin-top: 20px;

    }

    .video_output_export {
        margin-top: 10px;
    }

    .comment-item {
        flex-direction: column;
        gap: 5px;
    }

    .comment-inner .comment-top {
        flex-direction: row;
        font-size: 12px;
        gap: 5px;
        flex-wrap: wrap;
    }

    .comment-inner .comment-top *:not(span) {
        margin-right: 0;
    }

    .comment-top .time-stamp-value {
        font-size: 10px;
        background-color: #f74bec;
        padding: 0 2px;
        border-radius: 0.3rem;
    }

    .comment-inner .comment-text {
        padding: 1rem;
        color: #fff;
    }

    .comment-top .comment-time {
        font-size: 12px;
    }

    .comment-top .reply-btn {
        font-size: 12px;
    }

    .btn-delete-comment {
        margin-left: 0;
        font-size: 12px;
    }

    .comment-item-sub {
        background: #00000030;
        border-radius: 10px;
    }

    .vid-controls {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* video output responsiveness ends */

      /* email responsiveness start */ 

         .overflow-horizontal {
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        width: 330px;
    }

/* email responsiveness end */ 

/* import video responsiveness starts */

.container-fluid .vc-import-wrap{
   flex-wrap: wrap;
}

/* import video responsiveness ends */

/* landing-page responsiveness starts */

.video-settings-box{
    padding: 10px 0px !important;
    border: none !important;
}

.uploaded-box{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

/* landing-page responsiveness ends */

/* new experiment responsiveness starts */
.extra-padding{
    padding: 0px !important;
}
/* new experiment responsiveness ends */

/* record screen responsiveness starts */

.navigation-default{
    background: transparent;
}

.bg-play-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    align-self: center;
    justify-self: center;
}

/* record screen responsiveness ends */

/* text to speech responsiveness starts */

.text-speech-field{
  flex-direction: column;
  gap: 20px;
}

.text-speech-field .sc-market-select{
  width: 100%;
}

.text-speech-field .sc-market-select:not(:last-child){
    margin-right: 0px;
}

.mobile-table-wrapper{
     width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 500px;
}

.table-text--speech{
    min-width: 700px;
    width: 100%;
}

/* text to speech responsiveness ends */

/* upload video responsiveness starts  */

.bg-upload-wrap{
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    min-width: 100%;
    max-width: 100%;
    padding: 20px;
}

.bg-upload-wrap .right-section{
    padding-right: 0px;
}

.bg-upload-wrap .left-section{
    text-align: center;
}

.upload-illus{
    max-width: 320px;
    width: 100%;
}

/* upload video responsiveness ends */

}

@media (max-width: 600px) {
    .content-body .container-fluid .tab-content {
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        width: 300px;
    }

         .content-body .container-fluid .tab-content.teams {
        overflow-x: auto;
        white-space: normal;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }

    .tab-pane#pills-integration .vc-import-wrap .vc-import-form--wrap .form-group.d-flex.align-items-center {
        flex-direction: column;
        align-items: center;
    }

    .tab-pane#pills-integration .vc-import-wrap .vc-import-form--wrap .form-group.d-flex.align-items-center textarea {
        width: 100%;
    }

    .vc-import-wrap .fake-wrap {
        width: 100%;
        margin-left: 0;
    }

    .billing-data-wrap {
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        width: 300px;
    }

    .billing-data-wrap>* {
        width: 100%;
    }

    .payment_history-wrap {
        width: fit-content;

    }

    /* courses-page rssponsiveness starts */

    .video-settings-box.course-page-outter{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.relatedvideos-item {
    flex-direction: column;
}

.relatedvideos-item > *{
width: 100%;
}


/* courses-page rssponsiveness end */

/* forgot  pwd responsiveness start */

.sign-up-inner .right-section form{
   width: 100%;
   min-width: none;
   max-width: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}

.sign-up-inner {
    height: 100%;
    width: 100%;
    display: flex;
}

.sign-up-inner .right-section form{
   width: 100%;
   min-width: 100%;
   max-width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}

.sign-up-inner .right-section form div.title{
 text-align: center;
}

.sign-up-inner .right-section form div.form-group{
display: flex;
flex-direction: column;
gap: 10px;
width: 100%;
max-width: 100%;
min-width: 100%;
}

.sign-up-inner .right-section form button{
  width: 300px;
  min-width: 100%;
  max-width: 100%;
}

.sign-up-inner .right-section form div.form-group label{
 text-align: center;
 width: 300px;
 max-width: 100%;
 min-width: 100%;
  margin: auto;
}

.sign-up-inner .right-section form div.form-group input{
 width: 300px;
 max-width: 100%;
 min-width: 100%;
 margin: auto;
}


/* forgot  pwd responsiveness end */

/* help responsiveness starts */

  .bg-helper{
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
  }

    .help_actions_wrap{
flex-direction: column;
gap: 10px;
  }

  .help_actions_wrap .btn-help_actions:first-child{
margin-right: 0px;
  }
  
  .row.justify-content-center .col-5{
    flex: 0 0 100% !important;
        max-width: 100% !important;
  }

/* help responsiveness ends */

/* new experiment responsiveness starts */
.video-file-select-input-wrap{
    flex-direction: column;
    gap: 10px; 
}

.video-file-select-input-wrap> *{
    width: 100%;
}
/* new experiment responsiveness ends */

/* projects responsiveness starts */

.vc-project-wrap{
    flex-wrap: wrap;
    min-height: 129px;
    height: fit-content;
}

.new-project-modal--head{
    flex-wrap: wrap;
}

/* projects responsiveness ends */

/* record screen responsiveness starts */

.navigation-box{
   max-width: 320px;
   width: 100%;
}

/* record screen responsiveness starts */

.navigation-default{
    background: transparent;
}

.bg-play-icon{
    margin-top: 300px;
}

    .uploaded-box{
        max-height: fit-content;
    }
    .loader img{
        min-width: 380px;
        width: 100%;
    }
/* record screen responsiveness ends */

/* record video responsiveness starts */

@keyframes stretch-in {
    0% {
        height: 415px;
    }

    25% {
        height: 390px;
    }

    100% {
        height: 250px;
    }
}

@keyframes stretch-out-small {
    to {
      height: 600px;
    }
  }

  .navigation-box[data-state="unwrapped"] {
    animation: stretch-out-small 0.5s linear 1 forwards;
  }

  .nav.nav-pills{
   justify-content: center;
   gap: 10px;
  }

  .navigation-box .nav-pills .nav-item:not(:last-child) {
    margin-right: 0px;
  }

/* record video responsiveness ends */

/* stock images responsiveness starts */

.form-control.vc-form-input.w-25{
    width: 100% !important;
}

.container-fluid .d-flex.flex-column.my-5{
   gap: 10px;
   align-items: center;
}

.d-flex.flex-column .page-heading{
   text-align: center;
}

.d-flex.flex-column .page-desc{
   text-align: center;
}

 /* stock images responsiveness ends */

 /* teams responsiveness starts */

 .team-stat-wrap{
   flex-direction: column;
   gap: 20px;
   width: 100%;
 }

 .team-stat-box {
width: 100%;
 }

  /* teams responsiveness ends */

  /*  text to speech resposnisiveness starts */

  .mobile-table-wrapper{
  max-width: 330px;
}

 /*  text to speech resposnisiveness ends */

 /* video item responsiveness starts */
.video-settings-head{
    flex-wrap: wrap;
    justify-content: start;
}
/* video item responsiveness ends */

}

@media (max-width: 400px) {

      /* channels reponsiveness ends */

    .featured_content {
  max-width: 320px;
  padding: 10px;
   margin-left: auto;
   margin-right: auto;

}

    /* channels reponsiveness ends */

      /*  text to speech resposnisiveness starts */

  .mobile-table-wrapper{
  max-width: 280px;
}

 /*  text to speech resposnisiveness ends */

    /* forgot password responsiveness starts */

    .sign-up-inner .right-section form{
   padding: 10px;
}

 /* forgot password responsiveness ends*/

 /* record screen responsiveness starts */

    .uploaded-box{
        width: 320px;
    }

/* record screen responsiveness ends */

}